@import "../../_variables.scss";
.main {
  margin-top: header--height;
  width: 90%;
  margin: 0 auto;
  
}

.section--1 h1 {
    font-size: 2rem;
    font-weight: 500;
    color: map-get(color, main);
    letter-spacing: 2px;
  }
.section--1 {
  padding-top: 1rem;
  text-align: center;
  
}
.about__slogan {
  font-size: 1.2rem;
  font-weight: 300;
}
.section--2 img {
    height: 300px;
   
  }
.section--2 {
  display: flex;
  justify-content: space-between;

}
.about__letter {
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  padding: 0 10rem;
}
