@import "../../_variables.scss";
.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: header--height;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 20;

  .container {
    width: 90%;
    height: header--height;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .nav__logo {
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    font-weight: bold;
    color: map-get(color, main);
    
  }
}

.icon {
  font-size: 1.5rem;
  color: map-get(color, main);
  
}
.nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style-type: none;
    color: black;
    padding: 0;
  }
.nav li {
    text-decoration: none;
  }
  
.link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: map-get(color, main) !important;
  }
}
.active {
  color: map-get(color, main);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.nav-mobile ul {
    margin: 2rem 0;
    list-style-type: none;
    padding: 0;
  }
.nav-mobile li {
    padding: 0.5rem 0;
    &:hover {
      border-left: 2px solid map-get(color, main);
    }
  }
.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  z-index: 100;
  background-color: white;
  padding: 2rem 0;
  text-align: center;
  .nav__logo {
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
    color: map-get(color, main);
    &:hover {
      color: rgb(241, 137, 137);
    }
  }
}
