@import "../../_variables.scss";

.account__info {
  position: absolute;
  width: 9rem;
  top: header--height;
  background-color: white;
  padding: 1rem 0;

  box-shadow: 0px 0px 1px 1px rgb(210, 207, 207);
}

.account__list i {
    display: block;

    line-height: 2.2rem;
    &:hover {
      border-left: 2px solid red;
    }
  }

.account__list a {
    padding-left: 1.2rem;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    color: black;
    &:hover {
      color: map-get(color, main);
      font-weight: 500;
    }
  }
.account__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.account__logout {
  display: block;

  line-height: 2.2rem;
  margin-top: 0rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 300;
  padding-left: 1.2rem;
  cursor: pointer;
  &:hover {
    border-left: 2px solid red;
    color: map-get(color, main);
    font-weight: 500;
  }
}
